.view-philosophy {
  margin-top: 15px;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: row !important;
  .philosophy-grid {
    height: 100%;
    justify-content: space-evenly;
    max-width: 1200px;
    > ul {
      overflow: visible;
    }
    .grid__item {
      margin: 0 auto 0;
      width: 100%;
      max-width: 800px;
      display: inline-block;
      flex: 1;
    }
  }
}
