.common-mast {
  display: flex;
  width: 100%;
  min-height: 60vh;
  color: #fff;
  background-position: center center;
  background-repeat: repeat;
  background-size: auto 100%;
  background-color: #000;
  @media (min-width: 1000px) {
    background-attachment: fixed;
  }
  .common-mast__container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.4);
    > * {
      width: 100%;
    }
  }
}
