.footer {
  margin: 20px;
  padding: 20px 5px;
  border-top: 1px solid #ccc;
  .line1,
  .line2 {
    padding: 10px 0;
    display: flex;
    flex: 1;
    justify-content: center;
  }
  .footer__links {
    display: flex;
    a {
      margin: 0 15px;
    }
  }
  .footer__strap {
    display: none;
    @media (min-width: 770px) {
      display: block;
    }
  }
  .footer__copy {
  }
}
