$sideNavWidth: 270px;
nav {
  height: 60px;
  padding: 15px;
  display: flex;
  a {
    text-decoration: none;
  }
  .main-nav__logo {
    img {
    }
  }
  .main-nav__items {
    display: none;
    li {
      padding: 0 15px;
      a {
        color: darken(#fff, 2%);
        display: block;
      }
    }
    @media (min-width: 760px) {
      display: flex;
    }
  }
  .main-nav-mobile {
    color: #fff;
    @media (min-width: 760px) {
      display: none;
    }
  }
  .main-nav-mobile-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 998;
  }
  .main-nav-mobile-aside {
    position: fixed;
    right: -$sideNavWidth;
    top: 0;
    width: 100%;
    height: 100vh;
    max-width: $sideNavWidth;
    background: #cccccc;
    transform: translateX(100%);
    z-index: 999;
    animation: side-nav-slide-in 0.4s ease-in forwards;
    box-shadow: -2px -1px 5px rgba(0, 0, 0, 0.5);

    .main-nav-mobile-aside__header {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 15px 0;
      margin: 0 10px;
      border-bottom: 1px solid darken(#ccc, 5%);
      .header__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
      }
      h3,
      h4 {
        width: 100%;
        text-align: center;
      }
    }

    .main-nav-mobile-aside__items {
      li {
        display: block;
        width: 100%;
        a {
          display: block;
          width: 100%;
          height: 100%;
          height: 45px;
          font-size: 1.1em;
          color: inherit;
          text-decoration: none;
          text-align: center;
          &:focus,
          &:hover {
            font-weight: 700;
          }
        }
      }
    }
  }
}

@keyframes side-nav-slide-in {
  100% {
    transform: translateX(-$sideNavWidth);
  }
}
