.template-default {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}
