.common-item {
  width: 100%;
  max-width: 400px;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  @media (min-width: 400px) {
    margin: 15px auto;
  }
  .common-item__container {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
      rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid blue;
    }
    .container__header {
      padding: 15px;
    }
    .container__img {
      min-height: 340px;
      width: 100%;
      max-width: 400px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .container__description {
      padding: 15px 15px 24px 15px;
      height: 80px;
    }
  }
}
